{% extends 'base.html' %}
{% load static %}

{% load bootstrap4 %}

{% block head %}
{% endblock %}



{% block title %}Nouvelle recette -{% endblock %}

{% block content %}
{% if user.is_authenticated %}


    <div class="card">
        <h5 class="card-header">Nouvelle recette</h5>
        <div class="card-body">
            <form action="{% url 'add_recipe' %}" method="post" >
            {% csrf_token %}
               <div class="row">

                    <div class="col-6">
                        <input type="text" class="form-control" name="recipe_name" placeholder="Nom de la recette" required>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="material-icons md-36" style="display: inline-flex;vertical-align: text-bottom;">timer</i>
                                </div>
                            </div>
                            <input type="number" class="form-control" name="recipe_duration" placeholder="Durée" required>
                            <div class="input-group-append">
                                 <span class="input-group-text">min</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                         <div class="input-group">
                            <div class="input-group-prepend">
                            <div class="input-group-text"><i class="material-icons md-36" style="display: inline-flex;vertical-align: text-bottom;">room_service</i></div>
                            </div>
                            <input type="number" class="form-control" name="recipe_serving" placeholder="Portion" required>
                        </div>
                    </div>
                </div>
                <hr class="mt-0 mb-4 hr-transparent">  
                <div class="row">
                    <div class="col">
                        <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="select">Tags</label>
                        </div>
                        <select class="selectpicker form-control" data-style="btn-outline-secondary" name="tags" multiple>
                            {% for tag in tags %}
                                <option>{{tag.tag}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                </div>
                <hr class="mt-0 mb-4 hr-transparent">  
                <div class="row">
                    <div class="col-5">
                        <h5 class="title">Liste des ingrédients</h5>
                        <div id="ingredient_target">
                        </div>
                        <button type="button" class="btn btn-outline-primary float-right" id="add_ingredient"><i style="vertical-align: bottom;" class="material-icons">add</i></button>
                        <button type="button" class="btn btn-outline-secondary" id="remove_ingredient"><i style="vertical-align: bottom;" class="material-icons">remove</i></button>
                    </div>
                    <div class="col-7">
                        <h5 class="title">Liste des instructions</h5>
                        <div id="instruction_target">
                        </div>
                        <button type="button" class="btn btn-outline-primary float-right" id="add_instruction"><i style="vertical-align: bottom;" class="material-icons">add</i></button>
                        <button type="button" class="btn btn-outline-secondary" id="remove_instruction"><i style="vertical-align: bottom;" class="material-icons">remove</i></button>
                    </div>
                </div>
                <hr class="mt-0 mb-4 hr-transparent">  
                <div class="row ">
                    <div class="col">
                        <input type="hidden" id="instruction_count" name="instruction_count" value="">
                        <input type="hidden" id="ingredient_count" name="ingredient_count" value="">
                        <input type="submit" class="btn btn-primary float-right"  value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block foot %}

<script type="text/template" id="ingredient_template">
    <div class="form-row align-items-center" id="ingredient_row">
        <div class="col">
            <input type="text" class="form-control mb-2" name="ingredient_name_[[ count ]]" placeholder="Ingrédient" required>
        </div>
        <div class="col-4">
            <input type="number" class="form-control mb-2" name="ingredient_amount_[[ count ]]" placeholder="Quantité" min="1" max="100000" required>
        </div>
        <div class="col-3">
            <select class="custom-select mb-2" name="ingredient_unit_select_[[ count ]]" placeholder="Unité" required>
                <option selected>Unité</option>
                {% for unit in units %}
                    <option value="{{unit.id}}">{{ unit.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</script>

<script type="text/template" id="instruction_template">
    <div class="row" id="instruction_row">
        <div class="col">
          <div class="form-group">
                <textarea class="form-control"  id="text_[[ count ]]" name="text_[[ count ]]"rows="3" placeholder="[[ count+1 ]]. étape" required></textarea>
            </div>
        </div>
    </div>
</script>

<script src="{% static "/RecipeApp/add_recipe.js" %}"></script>

 
{% endblock %}

