{% extends 'base.html' %}


{% load bootstrap4 %}

{% block title %}Home -{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="card">
        <div class="card-header">
        <form class="form-inline  float-right">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">

            {% for recipe in recipes %}

                <div class="col mb-4 lg-4 xl-4">
                    <div class="card">
                        <a href="#" class="btn btn-fix text-left">
                            <div class="card-body">
                                <h5 class="card-title">{{recipe.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons md-18" style="display: inline-flex;vertical-align: text-bottom;">timer</i>{{recipe.duration}} min</h6>
                                <p class="card-text"> 
                                    {{recipe.description}}
                                </p>
                                {% for tag in recipe.tags.all %}
                                    <span class="badge badge-pill badge-secondary">{{tag.tag}}</span>
                                {% endfor %}
                            
                            </div>
                        </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">
                {%endif%}
            {% endfor %}
           
            </div>
        </div>
    </div>
    
    <hr class="mt-0 mb-4 hr-transparent">  
   
    {% if recipes.has_other_pages %}
    <ul class="pagination justify-content-center">
        {% if recipes.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ recipes.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in recipes.paginator.page_range %}
        {% if recipes.number == i %}
            <li class="page-item active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if recipes.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ recipes.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}

{% endif %}
{% endblock %}