{% extends 'base.html' %}


{% load bootstrap4 %}

{% block title %}Home -{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="card">
        <div class="card-header">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card">
                <a href="#" class="btn btn-fix text-left">
                <div class="card-body">
                    <h5 class="card-title">Ma super recette</h5>
                    <div class="input-group input-group-sm ">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="material-icons md-18" style="display: inline-flex;vertical-align: text-bottom;">timer</i>
                            </div>
                        </div>
                        <div class="form-control">
                            123 min
                        </div>
                    </div>
                </div>
                </a>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            </div>
              <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

{% if recipes.has_other_pages %}
  <ul class="pagination">
    {% if recipes.has_previous %}
      <li><a href="?page={{ recipes.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in recipes.paginator.page_range %}
      {% if recipes.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if recipes.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endif %}
{% endblock %}