.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}
.btn-margin {
    margin-right: 2px;
    margin-left: 2px;
}

.asteriskField {
    display: none;
}

.hr-transparent {
    border-top: 0px;
}